@charset "UTF-8";

button {
  all: unset;
  color: black;
  font-weight: bold;
  border: 2px solid black;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 300ms, color 300ms;
}

button:hover {
  background: black;
  color: white;
}